Cher client,
Nous vous informons par la présente de la situation de votre dossier de domiciliation:

Type d'opération: {{type_operation}}
Objet: {{type_action}}
Pour: {{nomenc}}
No.: {{ref_exec}}
Montant de transaction: {{ccy}} {{montant}}
Date de valeur: {{date_val}}
Référence de la déclaration: {{ref_di}}
Intitulé du compte: {{cli_fullname}}
Code client: {{cli_code}}
Date de Notification: {{date_notif}}
Référence Interne de la domiciliation: {{dom_id}}
Référence Interne du transfert: {{trf_id}}

Conformément aux dispositions du Règlement n°02/18/CEMAC/UMAC/CM portant REGLEMENTATION DES CHANGES DANS LA CEMAC et des Instructions qui précisent certaines de ses dispositions, veuillez nous fournir, dans un délai de 90 jours (pour les biens) ou 30 jours (pour les services), les documents suivants pour l'apurement du dossier de domiciliation : 
1. Titres d'importation délivrés par l'entité en charge des douanes (notamment la déclaration de mise à la consommation, la déclaration d'admission temporaire, la déclaration d'entrepôt, le perfectionnement, la mise en dépôt d'office).
2. Facture définitive, note de débit, note de frais, note d'honoraires ou toute autre pièce justificative. 
3. Bon de sortie en douane des marchandises. 
4. Quittance de paiement des droits et taxes de douane dus liés à l'importation concernée. 
5. Connaissement, la lettre de transport aérien ou la lettre de voiture.
6. Spécifiquement pour les services et le cas échéant, tout document justifiant la réalisation effective de l'importation de service (notamment le procès-verbal de réception provisoire ou définitive, le rapport d'études).
----------------------------------------------------------
Pour faciliter le traitement de votre opération, nous vous prions de déposer les documents exigés à l'accueil de la banque. Merci pour votre coopération.  
La Direction des opérations,  
BANQUE SINO-CONGOLAISE POUR L'AFRIQUE (BSCA.Bank)
N.B.: La présente adresse mail sert uniquement à la transmission des notifications vous concernant. 
Elle ne reçoit pas les messages entrants. Veuillez ne pas répondre à ce message. Pour tout besoin de renseignement, veuillez contacter directement votre gestionnaire de compte. 