Cher client,
Nous vous informons par la présente de la situation de votre dossier de domiciliation:

Type d'opération: {{type_operation}}
Objet: {{type_action}}
Pour: {{nomenc}}
No.: {{ref_exec}}
Montant de transaction: {{ccy}} {{montant}}
Date de valeur: {{date_val}}
Référence de la déclaration: {{ref_di}}
Intitulé du compte: {{cli_fullname}}
Code client: {{cli_code}}
Date de Notification: {{date_notif}}
Référence Interne de la domiciliation: {{dom_id}}
Référence Interne du transfert: {{trf_id}}

Conformément aux dispositions du Règlement n°02/18/CEMAC/UMAC/CM portant REGLEMENTATION DES CHANGES DANS LA CEMAC et des Instructions qui précisent certaines de ses dispositions, veuillez nous fournir, dans un délai de 15 jours, les documents suivants pour l'apurement du dossier de domiciliation :
1. Copie du contrat commercial ou tout autre document en tenant lieu. 
2. Facture définitive, note de débit, note de frais, note d’honoraires ou toute autre pièce justificative. 
3. Engagement de change. 
4. Numéro d'identification fiscal ou tout autre document en tenant lieu. 
5. Biens: Déclaration d'exportation. 
6. Biens: Document douanier attestant l'exportation effective (LTA, Lettre de route et facture définitive) 
7. Biens: Quittance de paiement des droits et taxes dus. 
8. Biens: Autorisations administratives requises (s'il s'agit de marchandises soumises à restriction)
----------------------------------------------------------
Pour faciliter le traitement de votre opération, nous vous prions de déposer les documents exigés à l'accueil de la banque. Merci pour votre coopération.  
La Direction des opérations,  
BANQUE SINO-CONGOLAISE POUR L'AFRIQUE (BSCA.Bank)
N.B.: La présente adresse mail sert uniquement à la transmission des notifications vous concernant. 
Elle ne reçoit pas les messages entrants. Veuillez ne pas répondre à ce message. Pour tout besoin de renseignement, veuillez contacter directement votre gestionnaire de compte. 