Cher client,
Nous vous informons par la présente de la situation de votre dossier de domiciliation:

Type d'opération: {{type_operation}}
Objet: {{type_action}}
Pour: {{nomenc}}
No.: {{ref_exec}}
Montant de transaction: {{ccy}} {{montant}}
Date de valeur: {{date_val}}
Référence de la déclaration: {{ref_di}}
Intitulé du compte: {{cli_fullname}}
Code client: {{cli_code}}
Date de Notification: {{date_notif}}
Référence Interne de la domiciliation: {{dom_id}}
Référence Interne du transfert: {{trf_id}}

Le traitement par nos services  de vos transferts émis ou reçus de l’étranger vous soumet à l’obligation réglementaire de mettre à la disposition de la banque un certain nombre de documents nécessaires à la clôture des dossiers afférents.
A cet effet, suite au traitement de votre transfert/rapatriement ci-dessus référencé pour lequel, sauf erreur ou omission de notre part, aucun document n’a été transmis à nos services en vue de son apurement, nous vous mettons en demeure de nous fournir dans les brefs délais lesdits documents.
Nous vous rappelons qu’en cas d’impossibilité d’apurement total, dans les délais prescrits, qui vous serait imputable, les sanctions prévues par la réglementation des changes pour défaut d’apurement seraient appliquées à votre encontre.     
----------------------------------------------------------
Pour faciliter le traitement de votre opération, nous vous prions de déposer les documents exigés à l'accueil de la banque. Merci pour votre coopération.  
La Direction des opérations,  
BANQUE SINO-CONGOLAISE POUR L'AFRIQUE (BSCA.Bank)
N.B.: La présente adresse mail sert uniquement à la transmission des notifications vous concernant. 
Elle ne reçoit pas les messages entrants. Veuillez ne pas répondre à ce message. Pour tout besoin de renseignement, veuillez contacter directement votre gestionnaire de compte. 