{% extends "admin/change_list.html" %} 
{% load i18n %} 

<!-- Alter encoding to utf-8 -->
<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 

{% block extrastyle %}
    <link href="/static/bootstrap/bootstrap4-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/admin/css/base.css" rel="stylesheet">

    {{ block.super }}

    <!-- Jquery core JavaScript -->
    <script src="/static/jquery/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="/static/bootstrap/bootstrap4-dist/js/popper.min.js"></script>
    <script src="/static/bootstrap/bootstrap4-dist/js/bootstrap.js"></script>
    
{% endblock extrastyle %}

{% block content_title%}
  <h1>Cashflow detail summary</h1>
{% endblock%}

{% block result_list%}
  <div class="results">
    <table>
      <thead>
        <tr>
          <th><div class="text"><a href="#">Ccy</a></div></th>
          <th><div class="text"><a href="#">Total</a></div></th>
          <th><div class="text"><a href="#">Total CF</a></div></th>
          <th><div class="text"><a href="#">% of Total CF</a></div></th>
      </tr>
      </thead>
      <tbody>
        {% for row in summary %}
        <tr class="{% cycle 'row1' 'row2'%}">
          <td>{{row.account__ccy}}</td>
          <td>{{row.total}}</td>
          <td>{{row.total_cf | default:0 }}</td>
          <td>
            <strong>
              {{row.total_cf | 
                default:0 | 
                percentof:summary_total.total_cf}}
            </strong>
          </td>
          {% endfor %}
        </tbody>
        <tr style="font-weight:bold; border-top:2px solid #DDDDDD;"></tr>"
          <td>Total</td>
          <td> {{summary_total.total}} </td>
          <td> {{summary_total.total_cf | default:0 }} </td>
          <td> 100% </td>
        </tr>
    </table>
  
  <!--Chart Zone-->
  <h2> Cashflow overtime </h2>
  <style>
  .bar-chart {
    display: flex;
    justify-content: space-around;
    height:160px;
    padding-top:60px;
    overflow:hidden;
  }
  .bar-chart .bar{
    flex: 100%;
    align-self:flex-end;
    margin-right:2px;
    position:relative;
    background-color:#79aec8;
  }
  .bar-chart .bar:last-child{
    margin: 0;
  }
  .bar-chart .bar:hover{
    background-color: #417690;
  }
  .bar-chart .bar .bar-tooltip {
    position:relative;
    z-index: 999;
  }
  .bar-chart .bar .bar-tooltip {
    position:absoulute;
    top: -60px;
    left: 50%;
    transform:translateX(-50%);
    text-align:center;
    font-weight:bold;
    opacity: 0;
  }
  </style>

  <div class="results">
    <div class="bar-chart">
      {% for x in summary_over_time %}
        <div class="bar" style="height: {{x.pct}}%">
          <div class="bar-tooltip">
            {{x.total | default:0}}<br>
            {{x.period | date:"dd/mm/YY"}}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock%}

{% block pagination%}{% endblock%}


